body{
    font-family: Helvetica;
    background-color: #f0f2f5;
    color: rgb(21, 25, 28);
    margin: 0 auto;
    padding: 20px 0;
    position: static;
    width:auto;
    min-height: auto;
}
div.corps{
    display: flex;
}
div.left_item{
    width: 50%;
    margin: 200px 0 200px 0;
    padding: 20px 0px 0 250px;
    text-align: left;
}
p.logo{
    color: #1877f2;
   font-size: 70px;
    text-align: left;
    margin: 0;
}
h2.description{
    font-family:Helvetica, Arial, sans-serif;
    font-size: 28px;
    font-weight: normal;
    line-height: 32px;
    width: 500px;
    color: #15191C;
    margin: 0;
}
div.right_item{
    width: 50%;
    margin: 200px 0 200px 0;
    padding: 0px 250px 0 0px;
    text-align: right;
    }
    form{
        border-radius: 10px;
        margin-left: 65px;
        min-height: 348px;
        width: 410px;
        background-color: #ffffff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.178);
    }
    #e-mail{
        display: inline-block;
        border:1px solid #ccc;
        outline: 0;
        border-radius: 6px;
        font-size: 14px;
        margin: 15px 30px;
        padding: 15px;
        width: 302px;
    }
    #password{
        display: inline-block;
        border:1px solid #ccc;
        outline: 0;
        border-radius: 6px;
        font-size: 14px;
        margin: 0px 30px 15px 30px;
        padding:15px;
        width: 302px;
    }
    #login{
        color: #ffffff;
        background-color: #1877f2;
        border: none;
        border-radius: 6px;
        font-size: 20px;
        line-height: 48px;
        margin: 0px 30px 15px 30px;
        padding: 5px;
        width: 332px;
    }
a.forget {
        color: #1877f2;
        text-decoration: none;
        margin:15px 120px 15px 0px;
        width: 220px;
        cursor: pointer;
    }
    div.ligne{
        align-items: center;
        border-bottom: 1px solid #dadde1;
        display: flex;
        margin: 20px 16px;
    }
    #logout{
        color: #ffffff;
        background-color:green;
        border: none;
        border-radius: 6px;
        font-size: 20px;
        line-height: 48px;
        margin:0px 80px 15px 20px;
        padding: 10px 0;
        width: 220px;
        text-decoration: none;
        cursor: pointer;
    }
p a {
        color: #000;
        cursor: pointer;
        text-decoration: none;
    }
span p {
        text-align: center;
        margin: 10px 0px 20px 100px;
    }